
<ion-content has-bouncing="false">

    <td-cards>
        <td-card ng-repeat="product in products"
                 on-destroy="cardDestroyed($index)"
                 on-swipe-left="onSwipeLeft($index)"
                 on-swipe-right="onSwipeRight($index)"
                 on-swipe-down="onSwipeDown($index)"
                 on-swipe-up="onSwipeUp($index)">

            <div class="image" ng-controller="CardCtrl">
                <div class="no-text">Paso</div>
                <img ng-src="{{product.image}}">
                <h2 class="name-product">{{product.name}}</h2>
                <div class="yes-text">Me Gusta</div>

            </div>

        </td-card>
    </td-cards>

</ion-content>



    <ion-footer-bar align-title="left" >
        <div class="buttons">
            <button class="button c-btn red"><span class="fa fa-close"></span></button>
        </div>
        <div class="title">
        </div>

        <div class="buttons" ng-click="doSomething()">
            <button class="button c-btn green"><span class="fa fa-angle-double-right "></span></button>
        </div>
    </ion-footer-bar>


<div class="footer-btn">
    <div class="footer-wrapp">
        <button class="like-button"></button>
    </div>
</div>